@{
    Layout = "_Layout";
}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="client-box--show">
      <div class="client-box--header">
        Client : @ViewBag.Client.Name
      </div>
      <div class="client-box--center">
       <p>Stylist : @ViewBag.Stylist.StylistName</p>
       <p>Notes : @ViewBag.Client.Note</p>

      </div>


      <div class="client-box--footer">
        @Html.ActionLink("Edit Details", "Edit", new {id = ViewBag.Client.ClientId}, new {@class="btn btn-info"})
        @Html.ActionLink("Delete Client", "Delete", new { id = ViewBag.Client.ClientId}, new {@class="btn btn-danger"})
      </div>
    </div>
  </div>
</div>

